.AppointmentList {
  margin-left: 1rem;
}

.AppointmentList-headings, .AppointmentList-entry-data-row {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 3fr;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

.AppointmentList-headings {
  border-bottom: thin black solid;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.AppointmentList-entry-data-row {
  cursor: pointer;
  background: lightblue;
}

.AppointmentList-entry-note {
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  border: thin lightblue solid;
  border-radius: 1rem;
}

.hidden {
  display: none;
}

